@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

img {
  height: 100%;
}

body {
  height: 100vh;
  background-color: #EDF0F7;
  color: #15181A;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.sub-container {
  display: flex;
  background-color: #FFFFFF;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 10px 30px rgba(209, 213, 223, 0.5);
}

.sub-container .img {
  height: 50vh;
  padding-right: 80px;
  padding-left: 40px;
}

.content {
  padding-top: 20px;
}

.section1 {
  display: flex;
  flex-direction: column;
}

.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section2 .title {
  align-self: flex-start;
  padding-bottom: 20px;
}

.section2 .img-data {
  position: relative;
  display: flex;
  justify-content: center;
  align-self: flex-start;
  align-items: center;
  padding-bottom: 20px;
}

.img-data .icon {
  position: absolute;
  color:#fff;
  left: 0;
}

.section2 .img-data span {
  font-size: 15px;
  margin: 0 15px 0 10px;
}

.section3 {
  display: flex;
  flex-direction: column;
}

.section3 .title {
  padding-bottom: 20px;
}

.section3 .boxes {
  display: flex;
}

.section3 .boxes .box {
  width: 100px;
  text-align: center;
  font-size: 14px;
  border: 2px solid #C3C6D1;
  border-radius: 5px;
  padding: 13px 10px;
  margin-right: 15px;
  cursor: pointer;
}

.section3 .boxes .box:hover {
  background: linear-gradient(180deg, #E33C7A 0%, #C036D0 100%);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-weight: bold;
  border: none;
}

.lead-1{
  font-size: 40px;
  font-weight: 500;
  padding-bottom: 5px;
}

.light {
  color: #858997;
  font-weight: normal;
}

.light.lower-title {
  padding-bottom: 10px;
  font-size: 18px;
}

.light.price {
  font-size: 24px;
  padding-bottom: 20px;
}
